.a
{
    position:relative;
    left:50px;
    top:10px;
}
.menu
{

    font-size:28px;
    color:#1b6698;
    position: relative;
    left:500px;
    bottom: 50px;
    white-space: 10px;
}
.a1
{
    text-decoration: none;
}

